.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgba(116, 115, 151, 0.8);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background:url('ukraine.jpg') no-repeat center center;
  background-repeat: repeat-y;
}

.Card-main {
  background-color: rgba(101, 144, 177, 0.8) !important;
  box-shadow: none !important;
  margin: 16px;
  padding: 8px !important;
}

.Base-style {
  color: white !important;
}

#Menu {
  background-color: rgba(116, 115, 151, 0.88);
  color: white;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
}

.Background {
  background-color: rgba(101, 144, 177, 0.8) !important;
}

#List-header {
  color: white !important;
}

#List-content {
  padding: 4px;
  color: white;
}
